<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040647347907-sjgska99gl6tivh5h50vqgd82op8dt2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040647347907-sjgska99gl6tivh5h50vqgd82op8dt2s</string>
	<key>API_KEY</key>
	<string>AIzaSyDPNcHq8uiEW1YT-Xr9mGh-qiXGC1LKvTc</string>
	<key>GCM_SENDER_ID</key>
	<string>1040647347907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.faceDetection</string>
	<key>PROJECT_ID</key>
	<string>facedetection-da702</string>
	<key>STORAGE_BUCKET</key>
	<string>facedetection-da702.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040647347907:ios:129a1a2dc6ba2f8fc08c76</string>
</dict>
</plist>